#scoreCard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

#scoreCard p {
    margin-right: 30px;
}